<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animal Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animal.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script type="text/javascript">
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1} 
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none"; 
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block"; 
          dots[slideIndex-1].className += " active";
        }
    </script>
</head>
<body>
    <header>
        <div class="header">
            <h2>Animal Rescue Groups</h2>
            <p>Results Found: {{ results.foundRows }}</p>
            <p>{{ types }}</p>
        </div>
    </header>
    <div class="wrapper">
        <div class="wrapper-bg"></div>
        {% for id, animal in results.data.items() %}
            <tr>
                <p>Animal ID {{ id }}</p>
                <ul>
                {% for k, v in animal.items() %}
                    {% if k == "animalPictures" %}
                        <!-- Slideshow container -->
                        <div class="slideshow-container">

                            <!-- Full-width images with number and caption text -->
                            {% for picture in v %}
                                {% if picture.mediaOrder == "1" %}
                                    <div class="mySlides fade" style="display: block;">
                                        <div class="numbertext">{{ picture.mediaOrder }}</div>
                                        <img src="{{ picture.urlSecureFullsize }}" alt="Pet Image">
                                    </div>
                                {% else %}
                                    <div class="mySlides fade">
                                        <div class="numbertext">{{ picture.mediaOrder }}</div>
                                        <img src="{{ picture.urlSecureFullsize }}" alt="Pet Image">
                                    </div>
                                {% endif %}
                            {% endfor %}

                            <!-- Next and previous buttons -->
                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        </div>
                        <br>

                        <!-- The dots/circles -->
                        <div style="text-align:center">
                            {% for picture in v %}
                                <span class="dot" onclick="currentSlide('{{ picture.mediaOrder }}')"></span>
                            {% endfor %}
                        </div>
                    {% elif k == "animalName" %}
                        <p>{{ k }}</p>
                    {% elif k == "animalDescription" %}
                        <p>{{ strip_tags(v) }}</p>
                    {% elif v != "" %}
                        <li>{{ k }}: {{ v }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </tr>
        {% endfor %}
    </div>
</body>
<footer>
    <div class="footer">
        <p>Created by William Juang</p>
        <a href="https://github.com/juangw/python-api-projects">
            <i class="fab fa-github"></i>
        </a>
    </div>
</footer>
</html>