<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animals.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function() {
            $(".btn.save").bind("click", function() {
                var animal_id = this.id
                $.getJSON('/save-animal/' + animal_id,
                    function(animal_id) {
                });
                return false;
            });
        });
    </script>
    <title>Animal Rescue Group</title>
</head>
<body>
    <header>
        <div class="header">
            <h2>Animal Rescue Group</h2>
            <p style="text-indent: 1em">Results Found: {{ results.foundRows }}</p>
            <p style="text-indent: 1em">Showing results from {{ limits[0] }}-{{ limits[1] }}</p>
            <a href="{{ url_for('animals_saved') }}">
                <i class="fas fa-shopping-cart cart"></i>
            </a>
            <a href="{{ url_for('animals_home') }}">
                <i class="fa fa-home home"></i>
            </a>
            {% if location %}
                <p style="text-indent: 1em">Searching for [Gender: {{ gender }}, Age: {{ age }}] cats in {{ location }} with radius of 
            {% else %}
                <p style="text-indent: 1em">Searching for [Gender: {{ gender }}, Age: {{ age }}] cats in 48105 with radius 
            {% endif %}
            {% if distance %}
                {{ distance }} miles</p>
            {% else %}
                0 miles</p>
            {% endif %}
        </div>
    </header>
    <div class="wrapper">
        <div class="wrapper-bg"></div>
        <br>
	<form action="{{ url_for('animals_page_filter', **{'page': 1|int}) }}" method="POST">
            <label style="text-indent: 40px">Age Filter:</label>
            <select name="age">
                 {% if age == "Baby" %}
                    <option>None</option>
                    <option value="Baby" selected>Baby</option>
                    <option value="Young">Young</option>
                    <option value="Adult">Adult</option>
                    <option value="Senior">Senior</option>
                {% elif age == "Young" %}
                    <option>None</option>
                    <option value="Baby">Baby</option>
                    <option value="Young" selected>Young</option>
                    <option value="Adult">Adult</option>
                    <option value="Senior">Senior</option>
                {% elif age == "Adult" %}
                    <option>None</option>
                    <option value="Baby">Baby</option>
                    <option value="Young">Young</option>
                    <option value="Adult" selected>Adult</option>
                    <option value="Senior">Senior</option>
                {% elif age == "Senior" %}
                    <option>None</option>
                    <option value="Baby">Baby</option>
                    <option value="Young">Young</option>
                    <option value="Adult">Adult</option>
                    <option value="Senior" selected>Senior</option>
                {% else %}
                    <option selected>None</option>
                    <option value="Baby">Baby</option>
                    <option value="Young">Young</option>
                    <option value="Adult">Adult</option>
                    <option value="Senior">Senior</option>
                {% endif %}
            </select>
            <label style="text-indent: 40px">Gender Filter:</label>
            <select name="gender">
                {% if gender == "Male" %}
                    <option>None</option>
                    <option value="Male" selected>Male</option>
                    <option value="Female">Female</option>
                {% elif gender == "Female" %}
                    <option>None</option>
                    <option value="Male">Male</option>
                    <option value="Female" selected>Female</option>
                {% else %}
                    <option selected>None</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                {% endif %}
            </select>
            <label style="text-indent: 40px">Location Filter:</label>
            {% if location %}
                <input name="location" type="text" value="{{ location }}">
            {% else %}
                <input name="location" type="text" placeholder="48105">
            {% endif %}
            <label style="text-indent: 40px">Distance Radius(miles):</label>
            {% if distance %}
                <input name="distance" type="text" value="{{ distance }}">
            {% else %}
                <input name="distance" type="text" placeholder="0">
            {% endif %}
            <input type="submit">
        </form>
	{% if results.data|length == 0 %}
	    <p>There are no cats for your search<p>
	{% else %}
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Animal ID #</th>
                    <th scope="col">Thumbnail</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Age</th>
                    <th scope="col">Zip Code</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
            {% for id, animal in results.data.items() %}
                <tr>
                    <th scope="row">{{ id }}</th>
                    <td>
                        <a href="{{ url_for('animal', animal_id=id) }}">
                            <img src="{{ animal.animalThumbnailUrl }}" class="thumb" alt="Pet Thumbnail">
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('animal', animal_id=id) }}">{{ animal.animalName }}</a>
                    </td>
                    <td>{{ animal.animalSex }}</td>
                    <td>{{ animal.animalGeneralAge }}</td>
                    <td>{{ animal.animalLocation }}</td>
                    <td>
                        <input type="button" class="btn save" id="{{ id }}" value="Save"/>
                        <input type="button" class="btn info" value="Info" onclick="window.location.href = '{{ url_for('animal', animal_id=id) }}';"/>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
	{% endif %}
        <div class="next-previous-btns">
            <a href="javascript:history.back(1)" class="next-previous">&laquo; Previous</a>
	    {% if len(results.data.items()) != 0 %}
		{% if not gender and not age and not location and not distance %}
		<a href="{{ url_for('animals_page_filter', **{'page': page|int+1}) }}" class="next-previous">Next &raquo;</a>
		{% else %}
		<a href="{{ url_for('animals_page_filter', **{'page': page|int+1, 'gender': gender, 'age': age, 'location': location, 'distance': distance}) }}" class="next-previous">Next &raquo;</a>
		{% endif %}
	    {% endif %}
            <br>
        </div>
    </div>
</body>
<footer>
    <div class="footer">
        <p style="text-indent: 40px">Created by William Juang</p>
        <a href="https://github.com/juangw/python-api-projects">
            <i class="fab fa-github"></i>
        </a>
    </div>
</footer>
</html>
