<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <title>Animal Page</title>
</head>
<body>
    <h2>
        Animal Rescue Groups
    </h2>
    <p>Results Found: {{ results.foundRows }}</p>
    <p>{{ types }}</p>
    {% for id, animal in results.data.items() %}
        <tr>
            <td>Animal ID {{ id }}</td>
            <ul>
            {% for k, v in animal.items() %}
                {% if k == "animalThumbnailUrl" %}
                    <p>Thumbnail</p>
                    <img src="{{ v }}" alt="Pet Thumbnail">
                {% elif k == "animalPictures" %}
                    <p>Pictures</p>
                    {% for picture in v %}
                        <img src="{{ picture.urlSecureFullsize }}" alt="Pet Image">
                    {% endfor %}
                {% elif k == "animalName" %}
                    <p>{{ k }}</p>
                {% elif k == "animalDescription" %}
                    <p>{{ strip_tags(v) }}</p>
                {% elif v != "" %}
                    <li>{{ k }}: {{ v }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </tr>
    {% endfor %}
</body>
</html>