<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Home Page</title>
</head>
<body>
    <h2>
        Animal Rescue Groups
    </h2>
    <p>Results Found: {{ results.foundRows }}</p>
    <form method="post">
        <button type="submit">Do it!</button>
    </form>
    <p>{{ types }}</p>
    <p>{{ limits }}</p>
    {% for id, animal in results.data.items() %}
        <tr>
            <td>Animal ID {{ id }}</td>
            <ul>
            {% for k, v in animal.items() %}
                {% if k == "animalThumbnailUrl" %}
                    <p>Thumbnail</p>
                    <img src="{{ v }}" alt="Pet Thumbnail">
                {% elif k == "animalName" %}
                    <p>animalName</p>
                    <a href="{{ url_for('animal', animal_id=id) }}">{{ v }}</a>
                {% elif k == "animalDescription" %}
                    <p>{{ strip_tags(v) }}</p>
                {% elif v != "" %}
                    <li>{{ k }}: {{ v }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </tr>
    {% endfor %}
</body>
</html>