<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Home Page</title>
</head>
<body>
    <h2>
        Animal Rescue Groups
    </h2>
    <p>Results Found: {{ results.foundRows }}</p>
    <p>{{ types }}</p>
    {% for id, animal in results.data.items() %}
        <tr>
            <td>Animal ID {{ id }}</td>
            <ul>
            {% for k, v in animal.items() %}
            	<li>{{ k }}: {{ v }}</li>
            {% endfor %}
            </ul>
        </tr>
	{% endfor %}
</body>
</html>