* {
    margin: 0;
}

html, body {
    height: 100%;
}

h2 {
	  color: black;
	  text-align: center;
}

p, li, td, th, label {
	  color: white !important;
	  margin: 0 !important;
}

h2 {
	  margin-top: 0 !important;
	  margin-bottom: 0 !important;
}

ul {
	  margin-bottom: 0 !important;
}

td a:link {
    color: #1DB954;
}

td a:visited {
    color: #ff9933;
}

td a:hover {
    color: #00ccff !important;
}

table {
	  margin-bottom: 0 !important;
}

img.thumb {
	  border-radius: 0.5em;
	  border: 0.25em solid grey !important;
}

.next-previous-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

a.next-previous {
    text-decoration: none;
    display: inline-block;
    padding: .75em 1.5em;
    margin:0 auto;
}

a.next-previous:hover {
    background-color: #ddd;
    color: black;
}

.cart {
	  height: 3em;
	  width: 3em;
	  float: right;
	  margin-right: 1em;
}

.next-previous {
    background-color: white;
    color: black;
}

.fab {
	  font-size: 3em !important;
	  float: right;
  	margin-right: 1em;
}

.btn {
    color: white !important;
    border-color: grey !important;
    border-radius: 0.25em !important;
    padding: 1em 2em !important;
    text-align: center;
    text-decoration: none !important;
    display: block !important;
    font-size: 1em !important;
}

.btn.remove {
	  background-color: red;
	  margin: .5em !important;
}

.btn.save {
	  background-color: #1DB954;
	  margin: .5em !important;
}

.btn.save:hover, .btn.remove:hover {
    color: black !important;
}

.btn.info {
	  background-color: #00ccff;
	  margin: .5em !important;
}

.btn.info:hover {
    color: black !important;
}

.header {
	  background-color: #1DB954;
    height: 7em;
}

.wrapper {
	  min-height: 100%;
    height: auto !important;
    position: relative;
}

.wrapper-bg {
    background-image: url('/static/imgs/cat.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 80em;
    position: absolute;
    opacity: 0.8;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer {
	  background-color: #1DB954;
    height: 5em;
}